        <!-- Neuer Eintrag erstellen -->
        <form [formGroup]="itemForm" (ngSubmit)="handleSubmit()" class="w3-container w3-card-4 w3-light-grey">
            <div class="w3-panel">
                <div class="w3-row-padding">
                    <div class="w3-col l2">
                        <label>Datum</label>
                        <input class="w3-input w3-border" type="date" formControlName="addedDate"/>
                        
                        <label *ngIf="itemForm.get('addedDate')?.invalid && itemForm.get('addedDate')?.touched">
                            Datum wird benötigt
                        </label>

                    </div>
                    <div class="w3-col l2">
                        <label>Einzahlung</label>
                        <input class="w3-input w3-border" type="text" formControlName="deposit">
                    </div>
                    <div class="w3-col l2">
                        <label>Auszahlung</label>
                        <input class="w3-input w3-border" type="text" formControlName="payout">
                    </div>
                    <div class="w3-col l4">
                        <label>Beschreibung</label>
                        <input class="w3-input w3-border" type="text" formControlName="description"/>
                        <label *ngIf="itemForm.get('addedDate')?.invalid && itemForm.get('addedDate')?.touched">
                            Beschreibung wird benötigt
                        </label>
                        
                    </div>
                    <div class="w3-col l2">
                        <label>&nbsp;</label>
                        <input class="w3-input w3-border submit" type="submit" value="Add" [disabled]="itemForm.invalid">
                    </div>
                </div>
            </div>
        </form>
        <br>